.contact .input {
  width: calc(70% - 260px);
  margin-right: -4px;
  border-radius: 40px 40px 40px 40px;
}

.contact p {
  font-size: 2.5rem;
}
.contact textarea {
  width: calc(70% - 260px);
  margin-right: -4px;
  border-radius: 10px 10px 10px 10px;
}
.contact .row {
  margin-top: 10px;
}
.contact button {
  background: #5caf0b;
  color: #fff;
  font-weight: 700;
  border: none;
}
